* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.foodCategory::-webkit-scrollbar {
  display: none;
}

.categoryBanner {
  transform: translateX(0);
  transition: sliding .5s infinite ease-in-out;
}

@keyframes sliding {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-200px);
  }
  100% {
    transform: translateX(-400px);
  }
} 

.searchInput:focus {
  border-color: green;
}